@model dynamic

@{
	ViewBag.Title = ViewData["GuildName"]!;
	Layout = "_Layout";
}
<ul class="nav flex-column position-absolute">
  <li class="nav-item">
    <a class="nav-link no-decoration text-white" aria-current="page" href="/manage/@ViewData["GuildId"]"><h2><i class="bi bi-house-fill"></i> Home</h2></a>
  </li>
  <li class="nav-item">
    <a class="nav-link no-decoration text-white" aria-current="page" href="/manage/@ViewData["GuildId"]/config"><h2><i class="bi bi-gear-fill"></i> Config</h2></a>
  </li>
  <li class="nav-item">
    <a class="nav-link no-decoration text-white" aria-current="page" href="/manage/@ViewData["GuildId"]/logs"><h2><i class="bi bi-card-list"></i> Logs</h2></a>
  </li>
</ul>

<div style="left: 50%;position: absolute">
  @RenderBody()
</div>

<style>
  ul {
    height: 87%;
    background-color: #212529;
  }
  li:hover {
    background-color: #282c34;
  }
</style>
