@model dynamic

@{
	ViewBag.Title = "Manage";
	Layout = "_Layout";
}

<h2 class="text-center text-white mt-2">Servers</h2>
<div id="grid" class="mt-5" aria-hidden="true">
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
</div>

<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
}

.card:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
}

#grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}
</style>

<script>
window.onload = function () {
	fetch("/api/@@me/guilds", {method: "GET",})
		.then(x => x.json())
		.then(x => {
			let grid = document.getElementById("grid");
			grid.innerHTML = "";
			for (let i = 0; i < x.length; i++) {
				let data = x[i];
				grid.innerHTML += `<a class=\"no-decoration\" href=\"/manage/${data.id}\">` +
                			            "<div class=\"card text-white bg-dark mb-3\" style=\"max-width: 18rem;\"> " + 
                				            `<img src=\"data:image/png;base64,${data.icon}\" class=\"card-img-top\" alt=\"...\">` + 
                				            "<div class=\"card-body\">" + 
                					            `<h2 class=\"card-text\">${data.name}</h2>` +
                				            "</div>" +
                			            "</div>" +
                		            "</a>";
			}
		})
		.catch(() => document.getElementById("grid").innerHTML = "<h1 class=\"text-white\">idk something died</h1>");
	}
</script>