@model dynamic

@{
	Layout = "_ManageLayout";
}

<h2 class="text-white mt-2 align-middle w-100 text-center">@ViewData["GuildName"] - Logs</h2>
<div id="grid" class="mt-5" aria-hidden="true">
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
		<svg width="18rem" height="18rem" class="card-img-top">
			<rect width="18rem" height="18rem" fill="#868e96"/>
		</svg>
		<div class="card-body">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
			</h5>
			<p class="card-text placeholder-glow">
				<span class="placeholder col-7"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-4"></span>
				<span class="placeholder col-6"></span>
				<span class="placeholder col-8"></span>
			</p>
		</div>
	</div>
</div>

<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
}

.card:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
}

#grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
window.onload = function () {
	fetch("/api/@@me/guilds/@ViewData["GuildId"]/logs", {method: "GET",})
		.then(x => x.json())
		.then(x => {
			let grid = document.getElementById("grid");
			grid.innerHTML = "";
			for (let i = 0; i < x.length; i++) {
				let data = x[i];
				grid.innerHTML += `<a class=\"no-decoration\" href=\"/manage/@ViewData["GuildId"]/logs/${data.id}\">` +
                			            "<div class=\"card text-white bg-dark mb-3\" style=\"max-width: 18rem;\"> " + 
                				            `<img width=\"256px\" height=\"256px\" src=\"data:image/png;base64,${data.icon}\" class=\"card-img-top\" alt=\"...\">` + 
                				            "<div class=\"card-body\">" + 
                					            `<h2 class=\"card-text\">${data.name}</h2>` +
                					            `<p class=\"card-text\">${moment.unix(data.time).format("MMM Do YYYY, HH:mm:ss")}</p>` +
                				            "</div>" +
                			            "</div>" +
                		            "</a>";
			}
		})
		.catch(() => document.getElementById("grid").innerHTML = "<h1 class=\"text-white\">idk something died</h1>");
	}
</script>