@model dynamic

@{
	ViewBag.Title = "Forbidden";
	Layout = "_Layout";
}

<div class="text-center text-white" style="transform: translateY(50%);">
	<h1>403 - Forbidden</h1>
	<h2>Looks like you are trying to access something you dont have access to...</h2>
</div>